/* default styles */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Mobile Responsibveness */
@media screen  and (min-width:120px) and (max-width:767px){

.contact-segement span:nth-child(1){
display: flex;
margin-left: 20px;
gap:5px ; 
justify-content: center;}
.contact-segement span:nth-child(2){
    text-align: center;
}
.contact-segement span .grey{
    color: grey;
    font-weight: 600;
}

form , form span{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

form input ,textarea{
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
   
}

form button{
    width: fit-content;
    padding: 5px 20px;
    background-color: #495;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
}
}

/* TABLET RESPONSIVENESS */
@media screen and (min-width: 668px) {
    .contact-segement span:nth-child(1){
        display: flex;
        margin-left: 20px;
        gap:5px ; 
        }
        .contact-segement span:nth-child(2){
            text-align: center;
        }
        .contact-segement span .grey{
            color: grey;
            font-weight: 600;
        }
        
        form , form span{
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
        }
        form input ,textarea{
            padding: 10px;
            border-radius: 5px;
            resize: vertical;
           
        }
        form button{
            width: fit-content;
            padding: 5px 20px;
            background-color: #495;
            color: #fff;
            border-radius: 4px;
        }
        form .name{
            width: 50%;
            display: flex;
        }
}


/* DESKTOP RESPONSIVENESS */
@media screen and (min-width:1000px) {
    
}