
/* Changing The Body Background Color */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(223, 223, 223);
}

body {
  background-color: var(--bg-color);
}

@media (max-width: 768px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  
}

@media (max-width: 480px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  
}